    .title {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px;
        border-bottom: 2px solid #333;
        cursor: pointer;
        color: #333;
        font-size: 27px;
        background-color: #fff;
        z-index: 1000;
        transition: color 0.3s ease-in-out;
      
        &:hover {
          color: #3F51B5;
        }
      }
      
      .content-container {
        margin-top: 80px; /* Adjust the margin as needed */
        padding: 20px; /* Optional padding for content */
      }
      