<div class="card" style="width: 30%">
    <h4 class="card-header">Indicative Form</h4>
    <div class="card-body">
      <form [formGroup]="form">
       

        <div class="mb-3">
            <div *ngIf="isError" class="errormsg">
              {{errorMsg}}
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Debt </label>
            <input type="text" formControlName="debt" placeholder="Enter Total Debt "
                   class="form-control" [ngClass]="{ 'is-invalid': submitted && f.debt.errors }"/>
            <div *ngIf="submitted && f.debt.errors" class="invalid-feedback">
              <div *ngIf="f.debt.errors.required">Debt is required</div>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">State</label>
            <select formControlName="state" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.state.errors }">
              <option value="">Select your state</option>
              <option *ngFor="let state of states" [value]="state">{{ state }}</option>
            </select>
            <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
              <div *ngIf="f.state.errors.required">State is required</div>
            </div>
        </div>

        <div>
            <button [disabled]="loading" class="btn btn-primary" (click)="onSubmit()">
              <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
              Next
            </button>
        </div>



     </form>
</div>
</div>