
.errormsg {
  font-size: .875em;
  color: #dc3545;
}

.successmsg {
  font-size: .875em;
  color: green;
}

.card {
  margin-left: 20px; /* Adjust this value to your preferred left padding */
}

.custom-button {
  background-color: #3F51B5;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

.custom-button:hover {
  background-color: #303F9F; /* Darker shade when hovered */
}

