.mat-mdc-form-field{
    width: 100%;
}
.approve-text {
    color: green; 
}


.disapprove-text {
  color: rgb(255, 0, 0); 
}
.mb-2{
  padding-top: 10px;
  font-size: 20px;
}

  .long-slider {
    width: 50%; 
  }

  .step-label-container {
    display: flex;
    align-items: center;
  }
  
  .button-container {
    margin-top: 16px; 
  }


  .custom-button {
    background-color: #3F51B5;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .custom-button:hover {
    background-color: #303F9F; 
  }

  .custom-button {
    background-color: #3F51B5; 
    color: #ffffff; 
    padding: 10px 20px; 
    border: none; 
    cursor: pointer; 
  
    &:hover {
      background-color: #2C387E; 
    }
  
   
    &:disabled {
      background-color: #B0BEC5;
      cursor: not-allowed;
    }
  }

  .light-blue{
    color: #036bfc;
  }